<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.KgEdgeClassMapper">
    
    <resultMap type="KgEdgeClass" id="KgEdgeClassResult">
        <result property="id"    column="id"    />
        <result property="label"    column="label"    />
        <result property="fromNodeId"    column="from_node_id"    />
        <result property="toNodeId"    column="to_node_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="valid"    column="valid"    />
    </resultMap>

    <sql id="selectKgEdgeClassVo">
        select id, label, from_node_id, to_node_id, create_user, create_time, valid from kg_edge_class
    </sql>

    <select id="selectKgEdgeClassList" parameterType="KgEdgeClass" resultMap="KgEdgeClassResult">
        <include refid="selectKgEdgeClassVo"/>
        <where>  
            <if test="label != null  and label != ''"> and label = #{label}</if>
            <if test="fromNodeId != null "> and from_node_id = #{fromNodeId}</if>
            <if test="toNodeId != null "> and to_node_id = #{toNodeId}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="valid != null "> and valid = #{valid}</if>
        </where>
    </select>
    
    <select id="selectKgEdgeClassById" parameterType="Long" resultMap="KgEdgeClassResult">
        <include refid="selectKgEdgeClassVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKgEdgeClass" parameterType="KgEdgeClass">
        insert into kg_edge_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="label != null and label != ''">label,</if>
            <if test="fromNodeId != null">from_node_id,</if>
            <if test="toNodeId != null">to_node_id,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="valid != null">valid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="label != null and label != ''">#{label},</if>
            <if test="fromNodeId != null">#{fromNodeId},</if>
            <if test="toNodeId != null">#{toNodeId},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="valid != null">#{valid},</if>
         </trim>
    </insert>

    <update id="updateKgEdgeClass" parameterType="KgEdgeClass">
        update kg_edge_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="label != null and label != ''">label = #{label},</if>
            <if test="fromNodeId != null">from_node_id = #{fromNodeId},</if>
            <if test="toNodeId != null">to_node_id = #{toNodeId},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="valid != null">valid = #{valid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKgEdgeClassById" parameterType="Long">
        delete from kg_edge_class where id = #{id}
    </delete>

    <delete id="deleteKgEdgeClassByIds" parameterType="String">
        delete from kg_edge_class where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>