<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.KgNodeClassMapper">
    
    <resultMap type="KgNodeClass" id="KgNodeClassResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="valid"    column="valid"    />
    </resultMap>

    <sql id="selectKgNodeClassVo">
        select id, name, create_time, create_user, valid from kg_node_class
    </sql>

    <select id="selectKgNodeClassList" parameterType="KgNodeClass" resultMap="KgNodeClassResult">
        <include refid="selectKgNodeClassVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="valid != null "> and valid = #{valid}</if>
        </where>
    </select>
    
    <select id="selectKgNodeClassById" parameterType="Long" resultMap="KgNodeClassResult">
        <include refid="selectKgNodeClassVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKgNodeClass" parameterType="KgNodeClass">
        insert into kg_node_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="valid != null">valid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="valid != null">#{valid},</if>
         </trim>
    </insert>

    <update id="updateKgNodeClass" parameterType="KgNodeClass">
        update kg_node_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="valid != null">valid = #{valid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKgNodeClassById" parameterType="Long">
        delete from kg_node_class where id = #{id}
    </delete>

    <delete id="deleteKgNodeClassByIds" parameterType="String">
        delete from kg_node_class where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>